.button-whole {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  font-size: 14px;
  border-radius: 8px;
  transition: all 400ms;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
