.filter-product-container {
  display: flex;
  margin-top: 5em;

}
.filters-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 18em;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 4rem;
  border-right: 1px solid var(--grey-color);
}

.filters-container > .price-filter,
.sort-filter,
.include-out-of-stock-filter {
  margin: 1.2em 0;
  display: flex;
  flex-direction: column;
}
.heading-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.2em;
}

.price-filter {
  display: flex;
  justify-content: flex-start;
}

.price-filter-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
input {
  width: 100%;
  -webkit-appearance: none;
}
input::-webkit-slider-runnable-track {
  background: #ffffff;
  border: 0.1em solid #010101;
  border-radius: 5.3px;
  width: 100%;
  height: 0.5em;
  cursor: pointer;
}
input::-webkit-slider-thumb {
  margin-top: -5px;
  width: 15px;
  height: 15px;
  background: #090005;
  border: 1px solid #000000;
  border-radius: 70px;
  cursor: pointer;
  -webkit-appearance: none;
}
input:focus::-webkit-slider-runnable-track {
  background: #080808;
}
input::-moz-range-track {
  background: #0e0d0d;
  border-radius: 0.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}

.price-filter-input-container > .range-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: black;
}
.price-filter-input-container > .range-finals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: black;
}

.sort-filter {
  display: flex;

  justify-content: flex-start;
  gap: 0.6em;
  margin-inline: auto;
  width: 100%;
}
.sort-filter > label {
  font-weight: bold;
}
.sort-filter > .sort-filter-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rating-filter-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.label-filter-rating {
  font-weight: bold;
}
select {
  padding: 0 0.5em;
  height: 3rem;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  background-color: white;
}
.option-selection:hover {
  background-color: #000000;
}
.products-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
  padding-left: 5rem;
  margin-top: 0.9rem;
  margin-left: 24rem;
  margin-bottom: 2%;
}
.add-cart-wishlist-container {
  display: flex;
  gap: 2px;
}

.favorite-icon-selected {
  color: red;
}

.card-button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}
.card-button-add:hover {
  border: 1px solid black;
}

.card-button-wishlist:hover {
  border: 1px solid black;
}
